#pwrcrmform label, #pwrcrmform div, #pwrcrmform input, #pwrcrmform select, #pwrcrmform button{
	margin: 0;
	padding: 0;
	border: 0;
	font-size: 100%;
	font: inherit;
	vertical-align: baseline;
	background: ff;
  box-sizing: border-box;
}

#pwrcrm{
	font-family: 'DM Sans', sans-serif;
	background: linear-gradient(136.77deg, #00B154 0%, #2DE9B0 100%);
	width: auto;
	display: table;
	padding: 30px;
	border: 1px solid #ccc;
	border-radius: 13px;
	box-shadow: 0px 0px 15px rgb(0 0 0 / 40%);
}

#pwrcrmform{
  width: 100%;
  max-width: 300px;
}

#pwrcrmform label{
	font-size: 14px;
	font-weight: 700;
	margin-bottom: 5px;
	color: white;
}

#pwrcrmform label strong{
	color: #ff4343;
	margin-left: 3px;
	font-size: 10px;
}

#pwrcrmform input[type=text], #pwrcrmform input[type=tel], #pwrcrmform input[type=email], #pwrcrmform input[type=number], #pwrcrmform select{
	border: 1px solid transparent;
	height: 40px;
	border-radius: 10px;
	width: 100%;
	font-size: 14px;
  padding: 0 10px;
	outline-color: #FF892D
}

#pwrcrmform select option{
  padding: 5px;
  border-bottom: 1px solid #ccc;
}

#pwrcrmform input[type=checkbox], #pwrcrmform input[type=radio]{
	margin-right: 5px;
}

#pwrcrmform  .pwrcrmInputCont{
	margin-bottom: 10px;
}

#pwrcrmform button[type=submit]{
	width: 100%;
	background:#FF892D;
	color: #fff;
	font-size: 16px;
	text-align: center;
	padding: 10px;
	border-radius: 10px;
	font-weight: 800;
	margin-top: 13px;
  cursor: pointer;
}
